.gradient-background {
  background: linear-gradient(203deg, #e64e6a, #7b29c1, #00f3f3, #e88007);
  background-size: 800% 800%;

  animation: AnimationName 10s ease infinite;
}

@keyframes AnimationName {
  0%{background-position:44% 0%}
  50%{background-position:57% 100%}
  100%{background-position:44% 0%}
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}

.profile-img {
  height: 100px;
  border-radius: 50%;
}
.icon-square {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}
.photu{
  height: 100px;
  border-radius : 50%;
}
.t1{
  text-align:center;
}